.color-navbar {
    color: transparent;
  }
  
  .text {
    color: black;
    margin-top: 15px;
  }
  
  .navbar-nav {
    margin-left: auto;
    border: 8px solid black;
  }
  
  li {
    padding: 0 25px;
  }
  
  li {
    position: relative;
  }
  
  li:before {
    content: '';
    position: absolute;
    height: 33.33%;
    width: 0;
    background-color: red;
    opacity: 0.3;
    right: 0;
    z-index: 0;
    top: 33.33%;
    transition: all 0.5s;
  }
  
  li:after {
    content: '';
    position: absolute;
    height: 33.33%;
    width: 0;
    background-color: red;
    opacity: 0.3;
    left: 0;
    z-index: 0;
    bottom: 0;
    transition: all 0.5s;
  }
  
  li:hover:before,
  li:hover:after,
  li:hover a:before {
    width: 100%;
  }
  #head{
    background-color: rgb(60, 2, 168);
  }
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid ;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }
  .button {
    transition-duration: 0.4s;
    border-radius: 5cm;
    text-decoration: red blue;
    
  }
  
  .button:hover {
    background-color:darkgoldenrod; /* Green */
    color:beige;
  }
  #name{
    background-color: yellow;
    margin: 20px 50px;
    color: violet;
    font-family: serif;
    margin-right: 600px
                    
  }
  body{
    background-image:url("background.png");
  }
  #picback{
    border: 6px double black;
  }
  #achievments{
    margin-left:20px;
    border: white 10px solid;
  }
  #mov{
    background-color:  greenyellow ;
    font-family: 'Times New Roman', Times, serif ;
    font-style: oblique;
    font-weight: bold;
    margin: 50px 300px;
    font-size: 30px;
    border-radius: 30px;
    padding: 10px;
  }
  
  